html{
    font-family: 'Roboto', sans-serif;
}
.column{
/* Set additional styling options for the columns*/
   background-color: blueviolet;
   margin: 5%;
   padding: 1%;
}
*{
    box-sizing: border-box;
}